// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.admin {
    margin: 0;
    padding: 0.5em;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    box-shadow: 3px 3px 3px 3px black;
    margin: 50px 50px 50px 50px;
}